@tailwind base;
@tailwind components;
@tailwind utilities;

.topbarLayout {
  width: 83% !important;
}
.topbarLayoutSidebar {
  width: 95% !important;
}
.topbarWithSide {
  width: 17% !important;
}

.topbarWithoutSide {
  width: 5% !important;
}

/* topbar in variants devices */
.topbarLayoutInTab {
  width: 60% !important;
}

:fullscreen {
  background: #ffffff;
}

.custom-overflowscroll::-webkit-scrollbar {
  width: 6px;
}

.custom-overflowscroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-overflowscroll::-webkit-scrollbar-thumb {
  background: #888;
}

.custom-overflowscroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}
