.body-scroll-hide {
  overflow: hidden !important;
}

.topbarLayout {
  width: 83% !important;
}
.topbarLayoutSidebar {
  width: 95% !important;
}
.topbarWithSide {
  width: 17% !important;
}

.topbarWithoutSide {
  width: 5% !important;
}

/* topbar in variants devices */
.topbarLayoutInTab {
  width: 60% !important;
}

:fullscreen {
  background: #ffffff;
}

.custom-overflowscroll::-webkit-scrollbar {
  width: 6px;
}
/*table scroller*/
.table-container::-webkit-scrollbar {
  width: 4px;
}

.custom-overflowscroll::-webkit-scrollbar-track,
.table-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-overflowscroll::-webkit-scrollbar-thumb,
.table-container::-webkit-scrollbar-thumb {
  background: #888;
}

.custom-overflowscroll::-webkit-scrollbar-thumb:hover,
.table-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

/* checkbox */

/* Container style */
.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

/* Hide the default checkbox */
.custom-checkbox input[type='checkbox'] {
  display: none;
}

/* Create a custom checkbox */
.custom-checkbox .checkmark {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 4px;
  position: relative;
  margin-right: 10px;
  transition: background-color 0.3s;
  border: 1px solid pink;
}

/* Style the checkmark when checked */
.custom-checkbox input[type='checkbox']:checked + .checkmark {
  background-color: #4caf50;
  border-color: inherit;
}

/* Add a tick icon when checked */
.custom-checkbox .checkmark::after {
  content: '';
  position: absolute;
  display: none;
}

.custom-checkbox input[type='checkbox']:checked + .checkmark::after {
  display: block;
}

/* Style the tick icon */
.custom-checkbox .checkmark::after {
  left: 7px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
