.body-scroll-hide {
  overflow: hidden !important;
}

/* animation */

.disclose-modal {
  animation-name: movingTheModal;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes movingTheModal {
  0% {
    margin-bottom: 20px;
    --tw-shadow-color: #fde3e3;
    --tw-shadow: var(--tw-shadow-colored);
  }

  100% {
    margin-bottom: 200px;
    background-color: white;
  }
}



.disclose-modal-form {
  animation-name: movingTheModalForm;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes movingTheModalForm {
  0% {
    margin-top: -50px;
    --tw-shadow-color: #fde3e3;
    --tw-shadow: var(--tw-shadow-colored);
  }

  100% {
    margin-top: 100px;
    background-color: white;
  }
}



.topbarLayout {
  width: 83% !important;
}
.topbarLayoutSidebar {
  width: 95% !important;
}
.topbarWithSide {
  width: 17% !important;
}

.topbarWithoutSide {
  width: 5% !important;
}

/* topbar in variants devices */
.topbarLayoutInTab {
  width: 60% !important;
}

:fullscreen {
  background: #ffffff;
}

.custom-overflowscroll::-webkit-scrollbar {
  width: 6px;
}
/*table scroller*/
.table-container::-webkit-scrollbar {
  width: 4px;
}

.custom-overflowscroll::-webkit-scrollbar-track,
.table-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-overflowscroll::-webkit-scrollbar-thumb,
.table-container::-webkit-scrollbar-thumb {
  background: #888;
}

.custom-overflowscroll::-webkit-scrollbar-thumb:hover,
.table-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}