@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;1,300;1,400;1,500&display=swap');

#app {
  font-family: 'Work Sans', sans-serif;
}

/* components of tailwindcss */

@layer components {
  .product-hover {
    @apply lg:hover:shadow-lg overflow-hidden lg:hover:delay-100 lg:hover:duration-200 lg:hover:ease-in-out;
  }

  .full-screen-center {
    @apply w-full min-h-screen flex flex-col justify-center items-center;
  }

  /* form */
  .form-container {
    @apply w-full md:w-4/5 lg:w-3/4 xl:w-1/2 mx-auto border border-gray-800/25 rounded-lg bg-white;
  }
  .form-title-box {
    @apply w-full text-center  rounded-t-xl;
  }
  .form-title {
    @apply text-2xl font-semibold text-gray-800;
  }
  .form-element-container {
    @apply w-full flex flex-col justify-between items-center gap-y-5;
  }
  .form__input--field,
  .form__input--file {
    @apply block w-full px-4 py-1 border border-gray-300 rounded-md shadow-sm focus:ring-pink-500 
    focus:border-pink-500 focus-visible:outline-none;
  }

  .form-submit-btn {
    @apply w-full px-4 py-2 bg-blue-600 text-white text-sm font-medium rounded-md shadow-sm
     hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500;
  }
  .message-box {
    @apply block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm
     focus:ring-blue-500 focus:border-blue-500;
  }
  /* image preview */
  .preview-image-item {
    @apply text-white bg-slate-600 rounded-full w-5 h-5 flex flex-col justify-center items-center 
    p-1 shadow-md hover:bg-red-600 focus:outline-none;
  }

  /* table */

  .layout {
    @apply px-2 xl:px-4 mx-auto w-full;
  }
  .layout__inner {
    @apply w-full relative overflow-hidden bg-white dark:bg-gray-800;
  }
  .table-wrapper {
    @apply overflow-x-auto max-h-[740px] overflow-y-auto;
  }
  .table {
    @apply w-full text-sm text-left text-gray-500 dark:text-gray-400 border-separate border border-slate-100;
  }
  .table__header {
    @apply text-xs uppercase text-white bg-lime-600 overflow-hidden sticky top-0;
  }
  .table__row {
    @apply border-b dark:border-gray-600;
  }
  .table__header-cell {
    @apply px-4 py-1 border border-slate-300;
  }
  .table__body {
    /* Optional: custom styles for the table body */
  }
  .table__body-row--hover {
    @apply hover:bg-gray-100 dark:hover:bg-gray-700;
  }
  .table__cell {
    @apply px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white border border-slate-300;
  }
  .table__cell--title {
    @apply font-medium text-gray-900 whitespace-nowrap dark:text-white;
  }
  .badge {
    @apply text-xs font-medium px-2 py-0.5 rounded;
  }
  .table__cell--delete {
    @apply text-center flex justify-center items-center;
  }
  .table__checkbox-wrapper {
    @apply flex;
  }
  .table__serial {
    @apply ml-2;
  }

  .table__quantity-controls {
    @apply flex gap-x-2;
  }
  .table__quantity {
    @apply w-4 h-4 flex justify-center items-center;
  }
  .button {
    @apply border border-inherit rounded-md shadow-md p-0.5 w-4 h-4 flex justify-center items-center;
  }
  .button--increase {
    @apply bg-lime-600 text-white;
  }
  .button--decrease {
    @apply bg-rose-600 text-white;
  }
  .button--hidden {
    @apply hidden;
  }
  .button--inline {
    @apply inline-flex;
  }
  .button--delete {
    @apply border border-inherit p-1 rounded-md;
  }
  .button__icon {
    @apply w-4 h-4 text-pink-600;
  }
  /* pagination */
  .pagination {
    @apply flex flex-col items-start justify-between p-4 space-y-3 md:flex-row md:items-center md:space-y-0;
  }

  .pagination__info {
    @apply text-sm font-normal text-gray-500 dark:text-gray-400;
  }

  .pagination__info--highlight {
    @apply font-semibold text-gray-900 dark:text-white;
  }

  .pagination__list {
    @apply inline-flex items-stretch -space-x-px;
  }

  .pagination__item {
    @apply flex items-center justify-center px-3 py-2 text-sm leading-tight text-gray-500 bg-white border
     border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700
      dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white;
  }

  .pagination__item--active {
    @apply z-10 border  dark:border-gray-700 dark:bg-gray-700 dark:text-white;
  }

  .pagination__prev-next {
    @apply flex items-center justify-center h-full py-1.5 px-3 text-gray-500 bg-white border
     border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700
      dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white;
  }

  .pagination__prev {
    @apply rounded-l-lg;
  }

  .pagination__next {
    @apply rounded-r-lg;
  }
}

/* transitions */

.toggle-screen-animation {
  @apply transition-all duration-500;
}
