@tailwind base;
@tailwind components;
@tailwind utilities;

:fullscreen {
    background-color: white;
}

/* sidebar scroller start*/
.overflow-custome {
    overflow-y: scroll;
}
.overflow-custome::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(56, 15, 15, 0.3);
    background-color: #f5f5f5;
}
.overflow-custome::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
}
.overflow-custome::-webkit-scrollbar-thumb {
    background-color: #330a0a;
    border: 2px solid #555555;
}
/* sidebar scroller end*/
